/*
Developed by EXA
Version 1.0
Footer CSS
*/

.footer {
  background: var(--color-white);
  border-top: 1px solid var(--border);
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;   
  gap: 8px;
}
.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 16px 0;
}

.brandLink {
  display: inline-block;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 16px auto;
  text-decoration: none;
  color: var(--color-black);
}
.brandImg {
  height: 28px;
  width: auto;
  display: block;
}
.brandText {
  font-size: 14px;
  color: var(--color-holder);
}

.bottom {
  padding: 12px 0 20px;
  text-align: center;
  color: var(--color-holder);
}

